---
layout: markdown_page
title: "S"
---

## On this page

- TOC
{:toc}

## Common Links

| **Issue Trackers** | TDB |
| **Slack Channels** | [#g_scalability](https://gitlab.slack.com/archives/g_delivery) | [#infrastructure-lounge](https://gitlab.slack.com/archives/infrastructure-lounge), [#incident-management](https://gitlab.slack.com/archives/incident-management) |

## Mission

The **Scalability Team** is responsible for GitLab and GitLab.com at scale, working on the highest priority scalability items in the application in close coordination with **Reliability Engineering** teams and communicating feedback to other Engineering teams so they can become better at scalability as well.

## Vision

As its name implies, the Scalability team enhances the **availability**, **reliability** and, **performance**  of GitLab and GitLab.com by enhacing GitLab's capabilities to operate at large scale.

### Team Members

The following people are members of the Scalability Team:

<%= direct_team(manager_role: 'Engineering Manager, Scalability')%>

